body{
    margin: 0;
    background-image: url('../img/space.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'ArcadeClassic', sans-serif;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    color: white;
    text-align: center;
}

.content-div{
    border: 2px solid white;
    height: 60vh;
    width: 100vh;
}


.content h2{
    font-size: 40px;
}

.content h3{
    font-size: 30px;
}

.content h4{
    font-size: 25px;
}

.back{
    position: absolute;
    bottom: 2%;
    font-size: 30px;
}

.back a{
    color: white;
}

.social{
    list-style: none;
    display: flex;
    justify-content: center;
}

.social a{
    color: white;
    font-size: 25px;
}

.social li{
    padding-left: 10px;
    padding-right: 10px;
}

