body{
    margin: 0;
    background-image: url('../img/background.jpg');
}

#board{
    display: grid;
    grid-template-rows: repeat(20 ,1fr);
    grid-template-columns: repeat(20, 1fr);
    border: 1px solid black;
    height: 500px;
    width: 500px;
    border: 5px solid white;
    background-color: #2c0d52;
}

.board {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.score-cards{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 50px;  
}


a{
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
}

.reloadone{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

button{
    background-color: white;
    border: none;
    font-size: 20px;
    font-family: 'ArcadeClassic', sans-serif;
}

a, button{
    padding: 5px;
    margin-bottom: 20px;
}

.firekey{
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 40px;                                         
}

.snake-head{
    background-color: white;
}

.snake-body{
    background-color: #77bfb4;
}

.mobile {
    display: none;
}



@media screen and (max-width: 825px) {
    .score-cards{
        font-size: 35px;  
    }

    .firekey{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .score-cards{
        font-size: 25px;  
    }

    .firekey{
        font-size: 20px;
    }

    #board{
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 450px) {


    .mobile{
        margin-top: 30px;
        display: block;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

