body{
    margin: 0;
    background-image: url('../img/background.jpg');
}

#board{
    display: grid;
    grid-template-rows: repeat(20 ,1fr);
    grid-template-columns: repeat(20, 1fr);
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin-left: 32%;
    margin-top: 6%;
    border: 5px solid white;
    background-color: #2c0d52;
}


.score-cards{
    position: absolute;
    left: 30px;
    top: 10%;
    color: white;
}

.presskey{
    position: absolute;
    left: 32%;
    top: 10px;
    color: white;
}

.score{
    /* margin-right: 50px; */
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 50px;                                         
}

.navbar{
    position: absolute;
    top: 22%;
    left: 4%;
    list-style: none;
    font-size: 20px;
}

a{
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
}

.reloadone{
    position: absolute;
    top: 22%;
    left: 11%;
    font-size: 20px;
}

button{
    background-color: white;
    border: none;
    font-size: 20px;
    font-family: 'ArcadeClassic', sans-serif;
}

.firekey{
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 40px;                                         
}

.snake-head{
    background-color: white;
}

.snake-body{
    background-color: #77bfb4;
}


.highscore-card{
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: end;
    margin-right: 25px;
}

.highscore{
    position: absolute;
    top: 10%;
}